.td_title_prop{
  color: #999;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
.td_content_prop{
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  vertical-align: center;
}

.print_table td{
  background-color:#ffffff;
  height:25px;
  line-height:150%;
}

.denture_position_table td{
  background-color:#ffffff;
  height:25px;
  line-height:100%;
  padding: 15px;
}

.denture_card_table td{
  background-color:#ffffff;
  height:20px;
  width: 20px;
  line-height:100%;
}

.denture_position_table_mini td{
  background-color:#ffffff;
  height:25px;
  line-height:100%;
  padding: 10px;
}

.td_title_print_table{
  color: #999;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.td_content_print_table{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  vertical-align: center;
}
