.td_title_prop{
  color: #999;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
.td_content_prop{
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  vertical-align: center;
}
